---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.jsx";
import RelayButton from "../components/RelayButton.jsx";
---

<Layout title="Sliding Door">
    <Sidebar client:load />

    <!-- Hauptinhalt -->
    <main class="lg:pl-72 p-4">
        <h1 class="text-2xl font-bold mb-4 text-center">Sliding Door</h1>

        <div class="flex justify-center gap-4 m-3">
            <RelayButton relayId={1} label="Auto" client:load />
            <RelayButton relayId={2} label="Dauerhaft offen" client:load />
        </div>
        <div class="flex justify-center gap-4 m-3">
            <RelayButton relayId={4} label="Feierabend" client:load />
            <RelayButton relayId={3} label="Geschlossen" client:load />
        </div>

    </main>
</Layout>
